.content-container {
  /* display: flex;
  flex-direction: row;
  justify-content: center; */

  display: inline-grid;
  background-color: grey;
  padding-bottom: 20px;
  margin-top: -23px;
}

.grid-container {
  display: grid;
}

.header {
  grid-row: 1;
  /* grid-column: content; */
  background-color: darkblue;
  color: azure;
  margin-top: -8px;
}  

.main-container {
  display: grid;
  grid-template-columns: auto;
}

.container-left {
  grid-row: 3;
  /* grid-column: container-left; */
}

.container-right {
  grid-row: 3;
  padding-left: 20px;
}

.title {
  text-align: center;
}

body {
  background-color: black;
}

.add-form {
  text-align: center;
}

.form-group-row {
  margin-right: -50px;
  /* width: 140px; */
}

.form-control {
  width: 50%;
}

.notes {
  padding-left: 25px;
}

.user-table {
  margin-left: 120px;
}
